11.csv filter=lfs diff=lfs merge=lfs -text
14.csv filter=lfs diff=lfs merge=lfs -text
15.csv filter=lfs diff=lfs merge=lfs -text
16.csv filter=lfs diff=lfs merge=lfs -text
23.csv filter=lfs diff=lfs merge=lfs -text
0.csv filter=lfs diff=lfs merge=lfs -text
21.csv filter=lfs diff=lfs merge=lfs -text
12.csv filter=lfs diff=lfs merge=lfs -text
17.csv filter=lfs diff=lfs merge=lfs -text
19.csv filter=lfs diff=lfs merge=lfs -text
27.csv filter=lfs diff=lfs merge=lfs -text
29.csv filter=lfs diff=lfs merge=lfs -text
8.csv filter=lfs diff=lfs merge=lfs -text
9.csv filter=lfs diff=lfs merge=lfs -text
13.csv filter=lfs diff=lfs merge=lfs -text
18.csv filter=lfs diff=lfs merge=lfs -text
20.csv filter=lfs diff=lfs merge=lfs -text
25.csv filter=lfs diff=lfs merge=lfs -text
7.csv filter=lfs diff=lfs merge=lfs -text
1.csv filter=lfs diff=lfs merge=lfs -text
22.csv filter=lfs diff=lfs merge=lfs -text
28.csv filter=lfs diff=lfs merge=lfs -text
10.csv filter=lfs diff=lfs merge=lfs -text
24.csv filter=lfs diff=lfs merge=lfs -text
2.csv filter=lfs diff=lfs merge=lfs -text
6.csv filter=lfs diff=lfs merge=lfs -text
26.csv filter=lfs diff=lfs merge=lfs -text
3.csv filter=lfs diff=lfs merge=lfs -text
4.csv filter=lfs diff=lfs merge=lfs -text
5.csv filter=lfs diff=lfs merge=lfs -text
